html
  head
    title Alex & Kevin | Répondez S'il Vous Plaît
  body
    h1 Répondez S'il Vous Plaît
    ul
      li Yes/No
      li Message box
      
    form(method="POST" action="/rsvp")
      input(type="text" name="name" placeholder="Name")
      input(type="submit" value="RSVP")
        
    ul
      each meal in meals
        li= meal.get('Name')
